@model WebApplication1.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div{
            position:absolute;
            left:40%;
            top:40%;
            border:1px solid #ccc;
            padding:10px 10px;
        }
    </style>
</head>
<body>
    <img src="~/Views/Images/bgimage.jpg" style="margin:0 auto; width:100%;" />
    <div id="login-div"> 
        @using (Html.BeginForm("Autherize","Login",FormMethod.Post))
        {
        <table>
            <tr>
                <td></td>

                <td style=" text-decoration:underline">App Name</td>

            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserName)
                </td>
                <td>
                    @Html.EditorFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.EditorFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" name="name" value="Login" />
                    <input type="reset" name="name" value="Clear" />
                </td>
            </tr>
        </table>
        }

    </div>
   
</body>
</html>
